@using ProjectManager.Application.Dictionaries
@using ProjectManager.UI.Extensions

<ul class="client-panel nav nav-pills flex-column mb-sm-auto align-items-center align-items-sm-start mb-4" id="menu">

    <!-- Strona Główna -->
    <li class="nav-item">
        <a href="/" class="nav-link align-middle px-0 text-white my-3">
            <i class="fas fa-solid fa-house"></i>
            <span class="d-none d-sm-inline">Strona Główna</span>
        </a>
    </li>

    <!-- Pulpit -->
    <li class="nav-item @Url.MakeActiveClass("User", "Dashboard")">
        <a asp-controller="User" asp-action="Dashboard" class="nav-link align-middle px-0 text-white">
            <i class="fas fa-solid fa-gauge"></i>
            <span class="d-none d-sm-inline">Pulpit</span>
        </a>
    </li>

    <!-- Moje dane -->
    <li class="nav-item @Url.MakeActiveClass("User", "User,EditUser")">
        <a asp-controller="User" asp-action="User" class="nav-link align-middle px-0 text-white">
            <i class="fas fa-solid fa-user"></i>
            <span class="d-none d-sm-inline">Moje dane</span>
        </a>
    </li>

    <!-- Zadania -->
    <li class="nav-item @Url.MakeActiveClass("Todo", "UserTodos,FromUserTodos,UserToTodo,AddPost,Todos,Todo,AddTodo")">
        <a asp-controller="Todo" asp-action="UserTodos" class="nav-link align-middle px-0 text-white">
            <i class="fas fa-solid fa-list-check"></i>
            <span class="d-none d-sm-inline">Zadania</span>
        </a>
    </li>

    <!-- Projekty -->
    <li class="nav-item @Url.MakeActiveClass("Project", "Projects,ProjectsCat,Project,EditProject,GetScope")">
        <a asp-controller="Project" asp-action="Projects" class="nav-link align-middle px-0 text-white">
            <i class="fas fa-solid fa-diagram-project"></i>
            <span class="d-none d-sm-inline">Projekty</span>
        </a>
    </li>

    <!-- Podwykonawcy -->
    <li class="nav-item @Url.MakeActiveClass("SubContractor", "SubContractors,EditSubContractor,AddSubContractor")">
        <a asp-controller="SubContractor" asp-action="SubContractors" class="nav-link align-middle px-0 text-white">
            <i class="fas fa-solid fa-handshake"></i>
            <span class="d-none d-sm-inline">Podwykonawcy</span>
        </a>
    </li>

    @if (User.IsInRole(RolesDict.Administrator) || User.IsInRole(RolesDict.Kierownik))
    {
        <!-- Klienci -->
        <li class="nav-item @Url.MakeActiveClass("Client", "Clients,AddClient,EditClient")">
            <a asp-controller="Client" asp-action="Clients" class="nav-link align-middle px-0 text-white">
                <i class="fas fa-solid fa-user-tie"></i>
                <span class="d-none d-sm-inline">Klienci</span>
            </a>
        </li>

        <!-- Pracownicy -->
        <li class="nav-item @Url.MakeActiveClass("Employee", "Employees,AddEmployee,EditEmployee")">
            <a asp-controller="Employee" asp-action="Employees" class="nav-link align-middle px-0 text-white">
                <i class="fas fa-solid fa-people-group"></i>
                <span class="d-none d-sm-inline">Pracownicy</span>
            </a>
        </li>

        <!-- Grafik -->
        <li class="nav-item @Url.MakeActiveClass("Calendar", "Calendar")">
            <a asp-controller="Calendar" asp-action="Calendar" class="nav-link align-middle px-0 text-white">
                <i class="fas fa-solid fa-calendar-days"></i>
                <span class="d-none d-sm-inline">Grafik</span>
            </a>
        </li>

        <!-- Pliki -->
        <li class="nav-item @Url.MakeActiveClass("File", "Files")">
            <a asp-controller="File" asp-action="Files" class="nav-link align-middle px-0 text-white">
                <i class="fas fa-solid fa-folder-open"></i>
                <span class="d-none d-sm-inline">Pliki</span>
            </a>
        </li>
    }

    @if (User.IsInRole(RolesDict.Administrator))
    {
        <!-- Role -->
        <li class="nav-item @Url.MakeActiveClass("Role", "Roles,AddRole,EditRole")">
            <a asp-controller="Role" asp-action="Roles" class="nav-link align-middle px-0 text-white">
                <i class="fas fa-solid fa-user-shield"></i>
                <span class="d-none d-sm-inline">Role</span>
            </a>
        </li>
    }
</ul>
