@using ProjectManager.Application.Dictionaries
@using ProjectManager.UI.Extensions

<ul class="client-panel nav nav-pills flex-column mb-sm-auto align-items-center align-items-sm-start mb-4" id="menu">

    <li class="nav-item">
        <a href="/" class="nav-link align-middle px-0 text-white my-3">
            <i class="fas fa-solid fa-house"></i><span class="d-none d-sm-inline">Strona Główna</span>
        </a>
    </li>

    <li class="nav-item @Url.MakeActiveClass("User", "Dashboard")">
        <a asp-controller="User" asp-action="Dashboard" class="nav-link align-middle px-0 text-white">
            <i class="fas fa-solid fa-earth-americas"></i><span class="d-none d-sm-inline">Pulpit</span>
        </a>
    </li>

    <li class="nav-item @Url.MakeActiveClass("User", "User,EditUser")">
        <a asp-controller="User" asp-action="User" class="nav-link align-middle px-0 text-white">
            <i class="fas fa-solid fa-user"></i><span class="d-none d-sm-inline">Moje dane</span>
        </a>
    </li>

    <li class="nav-item @Url.MakeActiveClass("Todo", "UserTodos,FromUserTodos,UserToTodo,AddPost,Todos,Todo,AddTodo" )">
        <a asp-controller="Todo" asp-action="UserTodos" class="nav-link align-middle px-0 text-white">
            <i class="fas fa-regular fa-rectangle-list"></i><span class="d-none d-sm-inline">Zadania</span>
        </a>
    </li>

    <li class="nav-item @Url.MakeActiveClass("Project", "Projects,ProjectsCat,Project,EditProject")">
        <a asp-controller="Project" asp-action="Projects" class="nav-link align-middle px-0 text-white">
            <i class="fas fa-solid fa-book-open"></i><span class="d-none d-sm-inline">Projekty</span>
        </a>
    </li>

     <li class="nav-item @Url.MakeActiveClass("SubContractor", "SubContractors,EditSubContractor,AddSubContractor") mb-4">
        <a asp-controller="SubContractor" asp-action="SubContractors" class="nav-link align-middle px-0 text-white">
           <i class="fas fa-solid fa-brush"></i><span class="d-none d-sm-inline">Podwykonawcy</span>
        </a>
    </li>



    @if (User.IsInRole(RolesDict.Administrator) || User.IsInRole(RolesDict.Kierownik))
    {
        <li class="nav-item @Url.MakeActiveClass("Client", "Clients,AddClient,EditClient")">
            <a asp-controller="Client" asp-action="Clients" class="nav-link align-middle px-0 text-white">
                <i class="fas fa-solid fa-user-tie"></i><span class="d-none d-sm-inline">Klienci</span>
            </a>
        </li>

        <li class="nav-item @Url.MakeActiveClass("Employee", "Employees,AddEmployee,EditEmployee")">
            <a asp-controller="Employee" asp-action="Employees" class="nav-link align-middle px-0 text-white">
                <i class="fas fa-solid fa-users"></i><span class="d-none d-sm-inline">Pracownicy</span>
            </a>
        </li>

        <li class="nav-item @Url.MakeActiveClass("Calendar", "Calendar")">
            <a asp-controller="Calendar" asp-action="Calendar" class="nav-link align-middle px-0 text-white">
                <i class="fas fa-solid fa-calendar-days"></i><span class="d-none d-sm-inline">Grafik</span>
            </a>
        </li>

        <li class="nav-item @Url.MakeActiveClass("File", "Files")">
            <a asp-controller="File" asp-action="Files" class="nav-link align-middle px-0 text-white">
                <i class="fas fa-solid fa-file-lines"></i><span class="d-none d-sm-inline">Pliki</span>
            </a>
        </li>
    }

    @if (User.IsInRole(RolesDict.Administrator))
    {
         <li class="nav-item @Url.MakeActiveClass("Role", "Roles,AddRole,EditRole")">
            <a asp-controller="Role" asp-action="Roles" class="nav-link align-middle px-0 text-white">
                <i class="fas fa-solid fa-unlock-keyhole"></i><span class="d-none d-sm-inline">Role</span>
            </a>
        </li>

        <li class="nav-item @Url.MakeActiveClass("Settings", "Settings")">
            <a asp-controller="Settings" asp-action="Settings" class="nav-link align-middle px-0 text-white">
                <i class="fas fa-solid fa-screwdriver-wrench"></i><span class="d-none d-sm-inline">Ustawienia</span>
            </a>
        </li>
    }
</ul>