
@using ProjectManager.Application.Common.Interfaces
@using ProjectManager.Application.Common.Models
@using ProjectManager.Application.Dictionaries
@using ProjectManager.Application.Todos.Queries.GetProjectTodos


@model PaginatedList<TodoDto>
@{
    ViewData["Title"] = "Lista zadań projektu";
    var roles = User.IsInRole(RolesDict.Administrator) || User.IsInRole(RolesDict.Kierownik);
    var userId = ViewBag.UserId;
}
<nav class="mt-2">
    <ul class="pagination">
        @if (Model.HasPreviousPage)
        {
            <li class="page-item">
                <a class="page-link" href="?pageIndex=@(Model.PageIndex - 1)">«</a>
            </li>
        }

        <li class="page-item active">
            <span class="page-link">@Model.PageIndex / @Model.TotalPages</span>
        </li>

        @if (Model.HasNextPage)
        {
            <li class="page-item">
                <a class="page-link" href="?pageIndex=@(Model.PageIndex + 1)">»</a>
            </li>
        }
    </ul>
</nav>
@foreach (var t in Model.Items)
{
    <div class="card mb-3 shadow-sm todo-item" data-id="@t.Id">
        <div class="card-body d-flex justify-content-between align-items-start">

            <div>
                <h5 class="card-title @(t.IsCompleted ? "text-decoration-line-through" : "")">
                    @t.Title
                </h5>

                <p class="card-text text-muted small">
                    Utworzone: @t.CreatedAt.ToString("yyyy-MM-dd") przez @t.UserFrom.FullName
                    @if (t.UserTo != null)
                    {
                        <span>• Przypisane do: @t.UserTo.FullName</span>
                    }
                    @if (!t.IsCompleted)
                    {
                        <span class="badge @(t.CompletionDate > DateTime.Now ? "bg-success" : "bg-warning text-dark")">
                            • Termin wykonania: @t.CompletionDate
                        </span>
                    }

                </p>

                <p>@t.Body</p>

                <div class="mt-2">
                    <span class="badge @(t.IsCompleted ? "bg-success" : "bg-warning text-dark")">
                        @(t.IsCompleted ? "Zakończone" : "W toku")
                    </span>
                    <span id="postsNumber_@t.Id" class="badge bg-secondary">Komentarze: @t.PostsNumber</span>
                </div>
            </div>

            <div class="mt-1">
                @if (!t.IsCompleted)
                {
                    <button class="btn btn-sm btn-secondary btnAddPost" data-id="@t.Id">
                        <i class="fas fa-comment"></i>
                    </button>
                }
                
            </div>
        </div>
        <div class="card-body align-items-start mt-1">
            <button class="btn btn-sm btn-outline-secondary btnTogglePosts"
                    data-id="@t.Id">
                <i class="fas fa-comments"></i> Pokaż komentarze
            </button>
            @if (!t.IsCompleted && t.UserTo.Id == userId)
            {
                <button class="btn btn-sm btn-success btnFinishTodo" data-id="@t.Id">
                    <i class="fas fa-check"></i> Zakończ zadanie
                </button>
            }
            <div id="postsContainer_@t.Id" class="mt-2" style="display:none;">
                <!-- posty tutaj -->
            </div>
        </div>
    </div>
}


