
@using System.Globalization
@using ProjectManager.Application.Common.Extensions
@using ProjectManager.Application.Common.Interfaces
@using ProjectManager.Application.Projects.Queries.GetProject
@using ProjectManager.Application.Todos.Queries.GetProjectTodos
@using ProjectManager.Domain.Enums


@model ProjectTodos

@{
    ViewData["Title"] = "Projekt";
    var locale = CultureInfo.CurrentUICulture.TwoLetterISOLanguageName;
}

@section Styles {
<partial name="Styles/_DataTablesStyles" />
}

<div class="card card-primary card-border-top mt-2">
    <div class="card-body">
        <h2 class="mt-0">Informacje o projekcie</h2>
        <div class="mt-2">
             <ul class="ul-style">
                <li>
                    <p class="mt-3">Nazwa projektu: <b>@Model.Project.Name</b></p>
                </li>
                <li>
                    <p>Nazwa klienta: <b>@Model.Project.Client</b></p>
                </li>
                <li>
                    <p >Typ projektu: <b>@Model.Project.ProjectType</b></p>
                </li>
            </ul>
        </div>       
    </div>
</div>


<a class="edit-link mt-2" href='/Project/Project?Id=@Model.Project.Id'>
    <i class="fas fa-solid fa-circle-chevron-left"></i>Powrót do projektu
</a>
<div class="card card-primary card-border-top mt-2">
    <div class="card-body">
        <h2 class="mt-0">Zadania dla projektu</h2>
        <div class="mt-2">
            <a href="/Todo/AddTodo?id=@Model.Project.Id" class="btn btn-primary mb-3" role="button">
                <i class="fas fa-solid fa-circle-plus"></i>Dodaj zadanie
            </a>
        </div>
            <table id="todos" class="table table-bordered table-hover">
            <thead>
                <tr> 
                    <th>Data utworzenia</th>
                    <th class="desktop">Utworzył</th>
                    <th class="desktop">Tytuł</th>
                    <th class="desktop">Termin realizacji</th>
                    <th class="desktop">Dla</th>
                    <th class="desktop"></th>
                    <th class="desktop">Status</th>
                   
                </tr>
            </thead>
            <tbody>
                    @foreach (var todo in Model.Todos)
                    {
                        <tr>
                           <td>
                                @todo.CreatedAt
                           </td>
                           <td>
                               @todo.UserFrom
                           </td>
                           <td>
                               @todo.Title  
                           </td>
                           <td>
                                @todo.CompletionDate
                           </td>
                           <td>
                                @todo.UserTo
                           </td>
                           <td>
                                <a class="edit-link" href='/Todo/Todo?Id=@todo.Id'>
                                    <i class="fas fa-solid fa-circle-info"></i>Podgląd
                                </a> 
                           </td>
                           <td>
                                @if (todo.IsCompleted){
                                     <p>Zakończony</p>
                                }
                                else{
                                    <p>W realizacji</p>
                                }
                           </td>
                        </tr>
                    }
            </tbody>
        </table>


    </div>

</div>


@section Scripts {
<partial name="Scripts/_DataTablesScripts" />


<script>
    var selectedRow;
    var selectedTodoId = 0;
    var todos;
    var project;

    $(document).ready(function () {
                
        todos = $('#todos').DataTable({
            info: false,
            columnDefs: [
                    ],
            paging: true,
            ordering: true,
            info: true,
            responsive: true,
            autoWidth: false,
            lengthChange: true,
            language: {
                url: `/lib/datatables/lang/${'@locale'}.json`
            }
        });
    });

</script>
}

