@using ProjectManager.Application.Todos.Queries.GetProjectTodos
@model ProjectTodosVm

<div class="modal" id="modal-add-position">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="add-position-form">
                <input type="hidden" asp-for="Project.Id" value="@Model.Project.Id" />
                <div class="modal-header">
                    <h4 class="modal-title">Dodawanie nowej pozycji</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Project.Id)
                        @Html.TextBoxFor(x => x.Project.Id, new { @class = "form-control", placeholder = "Wprowadź tytuł" })
                        @Html.ValidationMessageFor(x => x.Project.Id)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.Project.Id)
                        @Html.TextAreaFor(x => x.Project.Id, new { @class = "form-control", placeholder = "Wprowadź opis" })
                        @Html.ValidationMessageFor(x => x.Project.Id)
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                    <button id="modal-add-position-btn" type="submit" class="btn btn-primary">Zapisz</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="addPostModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-secondary text-white">
                <h5 class="modal-title">Dodaj post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <input type="hidden" id="PostTodoId" />

                <div class="mb-3">
                    <label class="form-label">Treść</label>
                    <textarea id="PostBody" class="form-control"></textarea>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                <button class="btn btn-primary" id="btnSavePost">Dodaj</button>
            </div>
        </div>
    </div>
</div>
