 @using System.Globalization
@using ProjectManager.Application.Common.Interfaces
@using ProjectManager.Application.Employees.Queries.GetEmployeeBasicsQuery


@model IEnumerable<EmployeeBasicsDto>

@{
    ViewData["Title"] = "Pracownicy";
    var locale = CultureInfo.CurrentUICulture.TwoLetterISOLanguageName;
   
}

@section Styles {
<partial name="Styles/_DataTablesStyles" />
}

<partial 
    name="Modals/_ModalConfirm"
    model="@(new ModalParams
    {
        Id = "modal-confirm-delete",
        Title = "Potwierdź proszę",
        Description = "Czy na pewno chcesz usunąć wybranego pracownika?"
    })" 
/>

<div class="card card-primary card-border-top">
    <partial name="_Overlay" />
    <div class="card-body">

        <a href='/Employee/AddEmployee' class="btn btn-primary mb-3" role="button">
            <i class="fas fa-solid fa-circle-plus"></i>Dodaj pracownika
        </a>

        <div class="form-group mt-0">
            <div class="form-check form-check-inline form-switch mt-0">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="form-check-input" id="isActiveUserCb" onclick="refreshTable();" />
                    <label class="form-check-label custom-control-label" for="isActiveUserCb">
                        Wszyscy
                    </label>
                </div>
            </div>
        </div>

        <table id="employees" class="table table-bordered">
            <thead>
                <tr>
                    <th>Nazwa pracownika</th>
                    <th class="desktop">Email</th>
                    <th class="desktop">Numer telefonu</th>
                    <th class="desktop"></th>
                    <th class="desktop"></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var employee in Model)
                {
                    <tr>
                        <td>
                            <a class="edit-link" href='/Employee/EditEmployee?employeeId=@employee.Id'>@employee.Name</a>
                        </td>
                        <td>
                            @employee.Email
                         </td>
                        <td>
                            @employee.PhoneNumber
                        </td>
                        <td>
                            @if (employee.IsDeleted)
                            {
                                <span>1</span>
                            }
                            else
                            {
                                <span>0</span>
                            }
                        </td>
                        <td>

                            @if (employee.IsDeleted)
                            {
                                <p>Nie pracuje</p>
                            }
                            else
                            {
                                <a class="btn btn-success btn-sm" role="button" href="/Employee/EditEmployee?employeeId=@employee.Id">
                                    <i class="fas fa-solid fa-pen-to-square"></i>Edytuj
                                </a>
                                <button class="btn btn-danger btn-sm" onclick="deleteEmployee('@employee.Id', this)">
                                    <i class="fas fa-solid fa-trash-can"></i>Usuń
                                </button>
                            }
                        </td>
                    </tr>
                }

            </tbody>
        </table>

    </div>

</div>

@section Scripts {
<partial name="Scripts/_DataTablesScripts" />

<script>

    var selectedRow;
    var selectedEmployeeId = 0;
    var employees;

    $(document).ready(function () {

        $('#isActiveUserCb').prop('checked', $.cookie("isActiveUserCb") === "1")

        $('#isActiveUserCb').change(function() {
           var cookiesIsActiveUserCbVal = this.checked === true ? "1" : "0" ;
           $.cookie("isActiveUserCb", cookiesIsActiveUserCbVal, { path: '/Employee', expires: 365 });
        });

        employees = $('#employees').DataTable({
            paging: true,
            ordering: true,
            info: true,
            responsive: true,
            autoWidth: false,
            lengthChange: true,
            language: {
                url: `/lib/datatables/lang/${'@locale'}.json`
            },
            order: [[0, "asc"]],
            columnDefs: [
                {
                    targets: [3],
                    visible: false,
                    searchable: false
                }]
        });

    });

    $.fn.dataTable.ext.search.push(
        function(settings, data, dataIndex) {

            var isActiveUserCb = $('#isActiveUserCb').is(":checked");

            var activeUserCol = parseInt(data[3]);

            if (isActiveUserCb && activeUserCol == 1)
                return false;

            return true;
        }
    );

    function refreshTable() {
        employees.draw();
    }

    function deleteEmployee(id, btn) {
        selectedRow = btn.parentNode.parentNode;
        selectedEmployeeId = id;
        $('#modal-confirm-delete').modal('show');
            $('.loading-overlay').show();
    }

    $('#modal-confirm-delete-btn').on('click', function (e) {

        $('#modal-confirm-delete').modal('hide');


        var errorMessage = 'Błąd. Nie udało się usunąć wybranego pracownika. Spróbuj ponownie lub skontaktuj sie z administratorem.'

            $.ajax({
                type: "POST",
                url: "/User/DeleteUser",
                data: {
                    id: selectedEmployeeId
                },
                success: function (data) {
                    if (data.success) {
                        location.reload();
                        toastr.success('Dane zostały zaktualizowane.')
                    }
                    else
                        toastr.error(errorMessage);
                            $('.loading-overlay').hide();
                },
                error: function (data) {
                    toastr.error(errorMessage);
                        $('.loading-overlay').hide();
                },
                dataType: "json"
            });

    });


</script>
}