@using ProjectManager.Application.SubContractors.Commands.EditSubContractor


@model EditSubContractorCommand

@{
    ViewData["Title"] = "Edytowanie klienta";
}

<div class="card card-primary card-border-top">

    @using (Html.BeginForm("EditSubContractor", "SubContractor"))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x=>x.Id)

        <div class="card-body">

            <div class="form-group">
                @Html.LabelFor(x => x.Email)
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder="Wprowadź e-mail"})
                @Html.ValidationMessageFor(x => x.Email)
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.Name)
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder="Wprowadź nazwę"})
                @Html.ValidationMessageFor(x => x.Name)
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.ContactPerson)
                @Html.TextBoxFor(x => x.ContactPerson, new { @class = "form-control", placeholder="Wprowadź osobę do kontaktu"})
                @Html.ValidationMessageFor(x => x.ContactPerson)
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.PhoneNumber)
                @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control", placeholder="Wprowadź numer telefonu"})
                @Html.ValidationMessageFor(x => x.PhoneNumber)
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.City)
                @Html.TextBoxFor(x => x.City, new { @class = "form-control", placeholder="Wprowadź miejscowość"})
                @Html.ValidationMessageFor(x => x.City)
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.ZipCode)
                @Html.TextBoxFor(x => x.ZipCode, new { @class = "form-control", placeholder="Wprowadź kod pocztowy"})
                @Html.ValidationMessageFor(x => x.ZipCode)
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.Street)
                @Html.TextBoxFor(x => x.Street, new { @class = "form-control", placeholder="Wprowadź ulicę"})
                @Html.ValidationMessageFor(x => x.Street)
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.StreetNumber)
                @Html.TextBoxFor(x => x.StreetNumber, new { @class = "form-control", placeholder="Wprowadź numer domu"})
                @Html.ValidationMessageFor(x => x.StreetNumber)
            </div>

        </div>

        <div class="card-footer">
             <button type="submit" class="btn btn-primary btn-lg">
                <i class="fas fa-solid fa-circle-check"></i>Zapisz
            </button>
        </div>

    }

</div>


@section Scripts {

    <partial name="Scripts/_ValidationScriptsPartial" />

    <script src="~/lib/inputmask/jquery.inputmask.bundle.min.js"></script>

    <script>
        $(document).ready(function() {


            $("#ZipCode").inputmask("99-999", { "clearIncomplete": true, showMaskOnHover: false });

        });

        });

    </script>
}