@using ProjectManager.Application.Common.Interfaces
@using ProjectManager.Application.Dictionaries
@using ProjectManager.Application.Projects.Queries.GetProject
@inject ICurrentUserService currentUserService
@model PositionPostDto
@{
    var postId = $"post-{Model.Id}";
    var canDelete = User.IsInRole(RolesDict.Administrator);
}

<div class="card mb-2 shadow-sm post-item" data-post-id="@Model.Id">
    <div class="card-body py-2">

        <div class="d-flex justify-content-between">
            <div>
                <p class="mb-1 text-muted">@Model.Body</p>
            </div>
            <div class="d-inline-flex justify-content-end m-sm-1">
                @if (canDelete)
                {
                    <button class="btn btn-sm btn-outline-danger open-delete-post-confirm"
                            data-post="@Model.Id">
                        <i class="fas fa-trash"></i>
                    </button>
                }
            </div>
        </div>

        <div class="text-end text-muted small">
            <strong>@Model.User.FullName: </strong>@Model.CreatedAt.ToString("yyyy-MM-dd HH:mm")
        </div>

    </div>
</div>
