
@using System.Globalization
@using ProjectManager.Application.Common.Extensions
@using ProjectManager.Application.Projects.Queries.GetEditDivision
@using ProjectManager.Application.Users.Extensions
@using ProjectManager.Domain.Enums

@model EditDivisionVm

@{
    ViewData["Title"] = "Edycja projektu";
    var locale = CultureInfo.CurrentUICulture.TwoLetterISOLanguageName;
}

@section Styles {
<partial name="Styles/_EditorStyles" />
<partial name="Styles/_SelectStyles" />
<partial name="Styles/_DataTablesStyles" />
}


<table id="project" class="table table-bordered:none">
    <tbody>
    <tr>
        <td>
           Nazwa projektu
        </td>
        <td style="font-weight:bold">
            @Model.Project.Name
        </td>
    </tr>
    
    <tr>
        <td>
           Nazwa klienta
        </td>
        <td style="font-weight:bold">
            @Model.Project.ClientName
        </td>
    </tr>
    
    <tr>
        <td>
           Typ projektu
        </td>
        <td style="font-weight:bold">
            @Model.Project.ProjectType
        </td>
    </tr>
    
    <tr>
        <td>
           Branża
        </td>
        <td style="font-weight:bold">
            @Model.Division.DivisionType
        </td>
    </tr>
    </tbody>
</table>

<div class="card card-primary">
    @using (Html.BeginForm("EditDivision", "Project"))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(x => x.Division.Id)
        @Html.HiddenFor(x => x.Project.Id)
        
        @for (int i = 0; i < Model.AvailableEmployees.Count(); i++)
        {
            @Html.HiddenFor(x => x.AvailableEmployees[i].Id)
            @Html.HiddenFor(x => x.AvailableEmployees[i].FullName)
        }
        <div class="card-body">
           @* <a href="#" class="btn btn-primary btn-sm">
                        <i class="fas fa-solid fa-angles-right"></i>Zobacz
            </a>*@
            <div class="form-group"> 

                @Html.LabelFor(x => x.Division.UserId)

                <div class="select2-blue">

                    @Html.DropDownList("Division.UserId", @Model.AvailableEmployees.Select(x => new SelectListItem(x.FullName, x.Id)), null, htmlAttributes: new { @class="form-control select2-UserId", style="width: 100%;" })
                    @Html.ValidationMessageFor(x => x.Division.UserId)
                </div>
            </div>
        </div>


        <div class="card-footer">
             <button type="submit" class="btn btn-primary btn-sm">
                <i class="fas fa-solid fa-circle-check"></i>Zapisz
            </button>
        </div>
    }
</div>


@section Scripts {

    <partial name="Scripts/_ValidationScriptsPartial" />
    <partial name="Scripts/_EditorScripts" />
    <partial name="Scripts/_SelectScripts" />
    <partial name="Scripts/_DataTablesScripts" />

    <script>
        var project;

        $(document).ready(function() {
            project = $('#project').DataTable({
            info: false,
            columnDefs: [
                { width: "25%", targets: [0]},
                { width: "75%", targets: [1]}],
            paging: false,
            searching: false,
            ordering: false,
            responsive: true,
            autoWidth: false,
            lengthChange: true,
            language: {
                url: `/lib/datatables/lang/${'@locale'}.json`
            }
        });
            
            $('.select2-UserId').select2({
                theme: 'bootstrap-5'
            });

        });
    </script>
}