@using ProjectManager.Application.Settlements.Queries.GetAssumption
@using ProjectManager.Domain.Enums
@model int


<div class="d-flex gap-2">
    <button class="btn btn-outline-light btn-sm"
            type="button"
            onclick="location.href='@Url.Action("FinanceControl", "Settlement", new { id = Model})'">
        <i class="fas fa-clipboard-check me-1"></i> Kontrola projektu
    </button>

    <button class="btn btn-outline-light btn-sm"
            type="button"
            onclick="location.href='@Url.Action("CostsSummary", "Settlement", new { id = Model })'">
        <i class="fas fa-file-invoice-dollar me-1"></i> Podsumowanie kosztów
    </button>

    <button class="btn btn-outline-light btn-sm"
            type="button"
            onclick="location.href='@Url.Action("CostsDetails", "Settlement", new { id = Model})'">
        <i class="fas fa-file-invoice-dollar me-1"></i> Zestawienia kosztów
    </button>

    <button class="btn btn-outline-light btn-sm"
            type="button"
            onclick="location.href='@Url.Action("Offers", "Settlement", new { id = Model, st = WorkScopeType.Agregat })'">
        <i class="fas fa-gas-pump me-1"></i> Agregat
    </button>

    <button class="btn btn-outline-light btn-sm"
            type="button"
            onclick="location.href='@Url.Action("Offers", "Settlement", new { id = Model, st = WorkScopeType.Installation })'">
        <i class="fas fa-plug me-1"></i> Instalacje
    </button>

    <button class="btn btn-outline-light btn-sm"
            type="button"
            onclick="location.href='@Url.Action("Offers", "Settlement", new { id = Model, st = WorkScopeType.Aadministration })'">
        <i class="fas fa-sliders me-1"></i> Zarządzanie
    </button>
</div>
