
@using System.Globalization
@using ProjectManager.Application.Common.Extensions
@using ProjectManager.Application.Projects.Commands.AddPosition
@using ProjectManager.Application.Projects.Queries.GetEditPosition
@using ProjectManager.Domain.Enums

@model AddPositionCommand

@{
    var project = (int)ViewData["Project"];
    var division = (DivisionType)ViewData["Division"];
    ViewData["Title"] = division.GetDisplayName();
    var locale = CultureInfo.CurrentUICulture.TwoLetterISOLanguageName;
}

@section Styles {
<partial name="Styles/_EditorStyles" />
<partial name="Styles/_SelectStyles" />
}

<a class="edit-link" href='/Project/Project?Id=@project'>
    <i class="fas fa-solid fa-circle-chevron-left"></i>Powrót do projektu
</a>


<div class="card card-primary card-border-top mt-4">

    @using (Html.BeginForm("AddPosition", "Project"))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(x => x.DivisionId)
        
        <div class="card-body">
            <div class="form-group">
                @Html.LabelFor(x => x.DivisionPositionType)
                @Html.TextBoxFor(x => x.DivisionPositionType, new { @class = "form-control", placeholder="Wprowadź nazwę"})
                @Html.ValidationMessageFor(x => x.DivisionPositionType)
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.Comment)
                @Html.TextAreaFor(x => x.Comment, new { @class = "form-control", placeholder="Wprowadź komentarz"})
                @Html.ValidationMessageFor(x => x.Comment)
            </div>
        </div>

        <div class="card-footer">
             <button type="submit" class="btn btn-primary btn-sm">
                <i class="fas fa-solid fa-circle-check"></i>Zapisz
            </button>
        </div>
    }
</div>


@section Scripts {

    <partial name="Scripts/_ValidationScriptsPartial" />
    <partial name="Scripts/_EditorScripts" />
    <partial name="Scripts/_SelectScripts" />


    <script>

        $(document).ready(function() {
            
            $('.select2-SubContractorId').select2({
                theme: 'bootstrap-5'
            });

        });
    </script>
}