
@using System.Globalization
@using ProjectManager.Application.Common.Extensions
@using ProjectManager.Application.Dictionaries
@using ProjectManager.Application.Projects.Queries.GetProject
@using ProjectManager.Application.Users.Extensions
@using ProjectManager.Domain.Enums

@model GetProjectVm

@{
    ViewData["Title"] = "Podgląd projektu";
    var locale = CultureInfo.CurrentUICulture.TwoLetterISOLanguageName;
    var inPreparation = Model.Project.ProjectStatus == ProjectStatus.InPreparation;
    var inProgres = Model.Project.ProjectStatus == ProjectStatus.InProgress;
    var completed = Model.Project.ProjectStatus == ProjectStatus.Completed;
    var roles = User.IsInRole(RolesDict.Administrator) || User.IsInRole(RolesDict.Kierownik);
    var hasAllPositionsCompleted = Model.Positions.SelectMany(x => x).All(x => x.IsCompleted);
    var description = "Czy na pewno chcesz zakończyć wybrany projekt?";
    var title = hasAllPositionsCompleted ? description : $"Projekt zawiera niezakończone pozycje. {description}";
}

@section Styles {
<partial name="Styles/_DataTablesStyles" />
}

<partial 
    name="Modals/_ModalConfirm"

    model="@(new ModalParams
    {
        Id = "modal-confirm-finish",
        Title = "Potwierdź proszę",
        Description = title
    })" 
/>

<div class="card card-primary card-border-top">
    <div class="card-body">
        <div class="mb-3">
            @if (roles && !completed)
            {
                <a href="/Project/EditProject?Id=@Model.Project.Id" class="btn btn-primary mx-2 " role="button">
                    <i class="fas fa-solid fa-pen-to-square"></i>Edytuj
                </a>
                <button class="btn btn-danger mx-2" onclick="finishProject('@Model.Project.Id')">
                    <i class="fas fa-solid fa-pen-to-square"></i>Zakończ
                </button>
                <a href="/Project/EditProject?Id=@Model.Project.Id" class="btn btn-primary mx-2" role="button">
                    <i class="fas fa-regular fa-coins"></i>Rozliczenie
                </a>

                <a href="/Todo/Todos?id=@Model.Project.Id" class="btn btn-success mx-2"role="button">
                    <i class="fas fa-solid fa-list-check"></i>Zadania
                </a>
                <a href="/Project/EditProject?Id=@Model.Project.Id" class="btn btn-success mx-2"         role="button">
                    <i class="fas fa-regular fa-comment"></i>Komentarze
                </a>
            }

        </div>


        <p class="mt-2">Status: <b>@Model.Project.ProjectStatus.GetDisplayName()</b></p>
        <ul class="ul-style">
            <li>
                <h3 class="mt-2">@Model.Project.Name</h3> 
            </li>
            <li>
                <p class="mt-3">Kategoria: <b>@Model.Project.ProjectType</b></p>
            </li>
            <li>
                <p>Klient: <b>@Model.Project.Client</b></p>
            </li>
            <li>
                <p >Utworzył: <b>@Model.Project.User</b>, Data utworzenia: <b>@Model.Project.CreatedDate</b></p>
            </li>
            <li>
                <p>Zmodyfikował: <b>@Model.Project.UserUpdate</b>, Data modyfikacji: <b>@Model.Project.EditDate</b></p>
            </li>
            <li>
                 <p>Kierownik projektu: <b>@Model.Project.UserPM</b></p>
            </li>
            <li>
                <p>Link do Sharepoint: <b><a class="edit-link" href=@Model.Project.Sharepoint target="_blank"></a></b></p>
            </li>
            <li>
                <p><b>Uwagi:</b></p>

            </li>
            <li>
                <p>@Model.Project.Comment</p>
            </li>
            
        </ul>
    </div>
</div>
    
<h4 class="mx-4 mt-2"><b>Realizacja projektu</b></h4>

@for (int i =0; i<Model.Divisions.Count(); i++)
{
    <div class="card card-primary card-border-top mt-2">
        <div class="card-body">
            <h4 class="card-title mt-2"><b>@Model.Divisions[i].DivisionType.GetDisplayName()</b></h4>
            @if (roles && !completed)
            {
                <a href="/Project/EditDivision?Id=@Model.Divisions[i].Id" class="btn btn-success mb-1" role="button">
                    <i class="fas fa-solid fa-pen-to-square"></i>Edytuj
                </a>
            }
            
            <p>Prowadzący: <b>@Model.Divisions[i].User.ToUserDto().FullName</b></p>
            <table id="@Model.Divisions[i].DivisionType.ToString()" class="table table-bordered table-hover mt-2">
                <thead>
                    <tr> 
                        <th>Etap</th>
                        <th class="desktop">Wykonawca</th>
                        <th class="desktop"></th>
                        <th class="desktop">Status</th>
                        <th class="desktop"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var position in Model.Positions[i])
                    {
                        <tr>
                           <td>
                               @position.DivisionPositionType.GetDisplayName()
                               
                           </td>
                           <td>
                               @position.SubContractor.Name
                           </td>
                           <td>
                               <a class="edit-link" href='/Project/Position?Id=@position.Id'>
                                   <i class="fas fa-solid fa-info-circle"></i>Szczegóły</a>
                           </td>
                           <td>
                                @if (position.IsCompleted)
                                {
                                    <p>Zakończony</p>
                                } 
                                else
                                {
                                    <p>W realizacji</p>
                                }
                           </td> 
                           <td>
                               @if(!position.IsCompleted)
                               {
    
                                   <a class="btn btn-sm btn-success" role="button" href="/Project/EditPosition?Id=@position.Id">
                                       <i class="fas fa-solid fa-pen-to-square"></i>Edytuj
                                   </a>
                                }
                                else
                                {
                                    @string.Empty
                                }       
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

@section Scripts {
<partial name="Scripts/_DataTablesScripts" />

<script>
    var selectedRow;
    var projectId = 0;
    var selectedPositionId = 0;
    var positionsDesign;
    var positionsElectric;
    var positionsAutomatic;

    $(document).ready(function () {


        positionsDesign = $('#Design').DataTable({
            info: false,

            paging: false,
            searching: false,
            ordering: false,
            responsive: true,
            autoWidth: true,
            lengthChange: true,
            language: {
                url: `/lib/datatables/lang/${'@locale'}.json`
            }
        });

        positionsElectric = $('#Electric').DataTable({
            info: false,

            paging: false,
            searching: false,
            ordering: false,
            responsive: true,
            autoWidth: true,
            lengthChange: true,
            language: {
                url: `/lib/datatables/lang/${'@locale'}.json`
            }
        });

        positionsAutomatic = $('#Automatic').DataTable({
            info: false,

            paging: false,
            searching: false,
            ordering: false,
            responsive: true,
            autoWidth: true,
            lengthChange: true,
            language: {
                url: `/lib/datatables/lang/${'@locale'}.json`
            }
        });
    });

        function finishProject(id) {
            projectId = id;
            $('#modal-confirm-finish').modal('show');
        }

        $('#modal-confirm-finish-btn').on('click', function (e) {

            $('#modal-confirm-finish').modal('hide');

            $.ajax({
                type: "POST",
                url: "/Project/FinishProject",
                data: {
                    id: projectId
                },
                success: function (data) {
                    if (data.success) {
                        location.reload();
                        toastr.success('Projekt został pomyślnie zakończony.')
                    } 
                    else 
                        toastr.error('Błąd. ' + data.message);
                },
                error: function (data) {
                    toastr.error('Błąd. Nie udało się zamknąć wybranego projektu. Spróbuj ponownie lub skontaktuj sie z administratorem.');
                },
                dataType: "json"
            });
        });
</script>
}

        