
@using System.Globalization
@using ProjectManager.Application.Common.Extensions
@using ProjectManager.Application.Posts.Commands.EditPositionPost
@using ProjectManager.Domain.Enums

@model EditPostCommand

@{
    ViewData["Title"] = "Edycja komentarza";
}

@section Styles {

}

<div class="card card-primary card-border-top">
    @using (Html.BeginForm("EditPost", "Post"))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.PositionId)
        <div class="card-body">

            <div class="form-group">
                @Html.LabelFor(x => x.Content)
                @Html.TextAreaFor(x => x.Content, new { @class = "form-control", placeholder="Wprowadź treść"})
                @Html.ValidationMessageFor(x => x.Content)
            </div>

        </div>

        <div class="card-footer">
             <button type="submit" class="btn btn-primary btn-lg">
                <i class="fas fa-solid fa-circle-check"></i>Zapisz
            </button>
        </div>

    }

</div>

@section Scripts {

<script>

</script>
}  